{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="container-lg p-0 flex-grow-1" style="max-width: 1140px;">
    <div class="bg-white p-3 rounded shadow-sm">
        <h1 style="font-size: 2rem;">About</h1>
        <p>CiderFinder makes it easy to find craft ciders you will love. It allows you to search a database of hundreds of commercially-available ciders that you can purchase online by keywords like apple varietal, processing type, region, and more.</p>
    </div>
</div>
{% endblock %}